* {
    box-sizing: border-box;
   
}
body{
    background-color: aqua;
}

#container {
    margin: auto;
    text-align: center;
    width: 50%;
    border-radius: 61px;
    background: #f35353;
    box-shadow:  31px 31px 63px #ca4545, 
                 -31px -31px 63px #ff6161;
                 margin-top: 10px;
}
input[type = "text"],input[type = "number"]{
    margin: 10px;
    border: 2px solid rgba(0, 0, 0, 0.788);
    background-color: transparent;
    text-align: center;
    width: 50%;
}
input[type = "text"]:focus,input[type = "number"]:focus{
    background-color: rgba(0, 0, 0, 0.329);
}
label{
    font-family: 'Courier New', Courier, monospace;
}
#save,.save {
    width: 150px;
    background: #222;
  height: 50px;
  border: none;
  color: #eee;
  font-size: 20px;
  font-family: 'Cookie', cursive;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
  margin-bottom: 10px;
}
#save:hover,.save:hover{
    background-color: rgba(0, 0, 0, 0.651);
    border: none;
    transition: all 0.1s ease-in;
}

th{
    border: 2px solid black;
    padding: 10px;
    text-align: center;
  
}
table{
    width: 50%;
    margin: auto;
    margin-top: 20px;
    border-collapse: separate;
}
tr,td{
    width: 30%;
    margin: auto;
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
}